<div class="container text-center error-container well">
  <!--<i class="glyphicon glyphicon-repeat big-font-size rotate"></i>-->
  <!--<div class="loading">Going to payment portal</div>-->
  <div class="row">
    <div class="row alert" >
      <div class="col-md-12 text-center">
        <h1>Oops...</h1>
        <h2>There are something wrong. There are something happened on server side.</h2>
      </div>
      <div class="col-md-12 text-center">
        <a class="error-btn-link" (click)="reload()">Return to the payment page</a>
      </div>
    </div>
  </div>
</div>
